@using Deli.Models
@model User
@{
    ViewData["Title"] = "Deli";
}

<div>
    <img src="~/images/banner2.0.jpeg" alt="" class="img-fluid" />

</div>
<div style="background-color: #e6d8cf" class="px-2 pb-2">
    <form id="member_form" asp-controller="Home" asp-action="LookUpMemberInfo" onsubmit="return validateForm();" method="post">
        <h4>Rewards member sign in</h4>
        <row>
            <div class="form-group col-8 col-sm-6 col-lg-4">
                <input type="text" name="userName" class="form-control" id="userName" placeholder="User name">
            </div>
            <div class="form-group col-8 col-sm-6 col-lg-4">
                <input type="password" name="password" class="form-control" id="password" placeholder="Password" value="">
            </div>
        </row>
        <div class="form-group pl-3">
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="button" onclick="notAMember();" class="btn btn-primary">Not a member</button>

        </div>
    </form>

    <form id="non_member" style="display: none" asp-controller="Home" asp-action="SubmitUserInfo" method="post">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="FirstName">First Name</label>
                <input type="text" class="form-control" asp-for="FirstName" placeholder="First Name">
            </div>
            <div class="form-group col-md-6">
                <label asp-for="LastName">Last Name</label>
                <input type="text" class="form-control" asp-for="LastName" placeholder="Last Name">
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EmailAddress">Email Address</label>
            <input type="email" class="form-control" aria-describedby="emailHelp" asp-for="EmailAddress" placeholder="">
        </div>
        <div class="form-group">
            <label asp-for="Address">Address</label>
            <input type="text" class="form-control" asp-for="Address" placeholder="name@example.com">
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="City">City</label>
                <input type="text" class="form-control" asp-for="City" placeholder="City">
            </div>
            <div class="form-group col-md-4">
                <label asp-for="State">State</label>
                <select asp-for="State" class="form-control">
                    <option selected>Choose...</option>
                    @{ foreach (State_Enum.State state in (State_Enum.State[])Enum.GetValues(typeof(State_Enum.State)))
                        {
                            <option class="dropdown-item">@state</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group col-md-2">
                <label asp-for="Zip">Zip</label>
                <input type="text" class="form-control" asp-for="Zip">
            </div>
        </div>
        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" onclick="signUp();" type="checkbox">
                <label class="form-check-label" for="signUp">
                    Sign me up for the rewards club
                </label>
            </div>
        </div>
        <div id="signUp" style="display:none">
            <div class="form-group col-8 col-sm-6 col-lg-4">
                <input type="text" class="form-control" asp-for="UserName" placeholder="User name">
            </div>
            <div class="form-group col-8 col-sm-6 col-lg-4">
                <input type="password" class="form-control" asp-for="Password" placeholder="Password">
            </div>
            <div class="form-group col-8 col-sm-6 col-lg-4">
                <input type="password" onfocusout="passwordVerification(value);" class="form-control" id="SignUpPasswordVerification" placeholder="Re-enter Password">
            </div>

        </div>

        <button type="submit" class="btn btn-primary">Let's order some grub...</button>
    </form>

    <script type="text/javascript">

        function pickupDeliverySelection(_id, ingredient) {

            document.getElementById(_id).innerHTML = ingredient;
        }

        function notAMember() {
            document.getElementById("non_member").style.display = "block";
            document.getElementById("member_form").style.display = "none";
        }

        function signUp() {
            document.getElementById("signUp").style.display = "block";
        }

        function passwordVerification(password) {
            var pw = document.getElementById("Password").value;
            if (pw !== password) {
                alert("Please verifty your passords match");
            }
        }

        function validateForm() {
            var userName = document.forms["member_form"]["userName"].value;
            var password = document.forms["member_form"]["password"].value;
            if (userName === null || userName === "" || password === null || password === "") {
                alert("Please fill in all fields");
                return false;
            }
        }

        @*window.onload = function () {
            if ('@ViewBag.Message' != nulll) {
                alert("@ViewBag.Message")
            }
        }*@
    </script>
 
    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
        </script>
    }
</div>
